.App {
  text-align: center;
}

.head{
  margin-top: 2rem;
  display: flex;
  justify-content: flex-end;
  width: 80%;
}
.head a {
  color: #61dafb;
  text-decoration: none;
  margin-right: 12rem
}

.middle p {
  font-size: 2.8rem;
}
.middle{

  display: flex;
  width: 97%;
  justify-content: space-around;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}
a{
  text-decoration: none;
}
.container{
  width: 90%;
  margin: auto;
}

.list{
  display: flex;
  justify-content: flex-start;
}
.single a h4{
  color: white;
}
.single{
  width: 20%;
}
.single a {
  text-decoration: none;
}

.single a img{
  width: 100%;
}

.single a p {
  border: solid 1px;
  text-decoration: none;
  color: white;
  width: inherit;
  margin: auto;
      margin-top: auto;
  margin-top: 1rem;
  font-size: 1.3rem;
  padding: 1rem;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
